<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 10rem;">
  <div class="text-center">
  <div><img src="assets/Frame_37_5.png" width="100px"height="100px"></div>
<div class="logo"><span>Aravindh</span></div>
<div style="font-size: 15px;margin-top: -10px; margin-bottom: 10px;"><span>Full Stack Developer</span></div>
</div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        About
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        My Skills
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Projects
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Achivements
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Contacts
      </a>
    </li>
  </ul>
  <div><ul class="social">
    <li><i class="	fab fa-linkedin-in"></i></li>
    <li><i class="	fab fa-github"></i></li>
  </ul></div>
</div>